.header {
  background-color: white;
  position: sticky;
  top: 0;
  > div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.6rem;
    position: relative;
    height: 180px;
    > nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 2rem;
      > div h1 {
        padding-top: 20px;
        font-family: "Francois One", sans-serif;
        font-size: 30px;
      }
      > div a {
        font-weight: 600;
        font-size: 25px;
        letter-spacing: 2px;
        display: inline;
        margin: 0 50px 0 50px;
      }
    }
  }
}
