.header {
  background-color: white;
  position: sticky;
  top: 0;
  > div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.6rem;
    position: relative;
    height: 150px;
    > nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 2rem;
      > div {
        > h1 {
          padding-top: 60px;
          font-family: "Francois One", sans-serif;
          font-size: 30px;
        }
        > a {
          font-weight: 600;
          font-size: 25px;
          letter-spacing: 2px;
          margin-right: 60px;
        }
      }
    }
  }
}
